@mixin background_icon($name, $t) {
	background-image: url("images/"+$name+"."+$t);
	@if $t != svg { 
		@media only screen and (-webkit-min-device-pixel-ratio: 2),
		only screen and (   min--moz-device-pixel-ratio: 2),
		only screen and (     -o-min-device-pixel-ratio: 2/1),
		only screen and (        min-device-pixel-ratio: 2) {
			background-size: 50%;
			background-image: url("images/"+$name+"@2x."+$t);
		}
		
	}
}
