@import 'scss/bootstrap';
@import 'scss/_function.scss';
@import 'scss/_fonts.scss';

// $slick-font-path: "./../fonts/slick/";
// $slick-loader-path: "images/";
// @import "slick-carousel/slick/slick.scss";
// @import "slick-carousel/slick/slick-theme.scss";

a {
	color: inherit;
	&:hover {
		color: inherit;
		text-decoration: underline;
	}
}
body {
	background-color: #f1f1f1;
}
.home-page {
	height: 100%;
	img {
		width: 100%;
		pointer-events: none;
	}

	h1 {
		text-align: center;
		margin: 50px auto;
		font-size: 5vw;
		font-weight: bold;
		color: #262e58;
	}

	.container-fluid {
		background: #262e58;
	}
	.look-at-github {
		font-size: 1vw;
		color: #262e58;
		padding: 30px 15px;
		text-align: center;
		margin: auto;
	}

	@media screen and (max-width: 700px) {
		h1 {
			font-size: 38px;
		}
		.look-at-github {
			font-size: 18px;
		}
	}
}

.demo-page {
	.demo {
		div {
			&[class*='col-'] {
				padding: 10px 0px;

				span {
					display: block;
					background: #f1f1f1;
					text-align: center;
					font-weight: bold;
					padding: 25px 5px;
				}
			}
		}
		img {
			width: 100%;
			pointer-events: none;
		}
	}
}

.container {
	display: block;
	position: relative;
	max-width: 1140px;
	margin: 0px auto;
	.playerlist {
		margin: 100px 0;
		display: grid;
		grid-gap: 40px 0;
	}
}

.audio-player {
	position: relative;
	display: block;
	padding: 20px 20px;
	border-radius: 5px;
	background-color: #ffffff;
	box-shadow: 0px 0px 10px 0px rgba($color: #000000, $alpha: 0.02);
	display: flex;
	$self: '.audio-player';
	#{$self}__play_btn {
		width: 50px;
		height: 50px;
		border-radius: 50%;
		background-color: #007792;
		color: #ffffff;
		cursor: pointer;
		transition: all 0.2s ease;
		padding: 13px 0px;
		text-align: center;
		&:before {
			font-family: 'Font awesome 5 Free';
			font-weight: 900;
			content: '\f04b';
		}
		&:hover {
			box-shadow: 0px 0px 10px 0px rgba($color: #000000, $alpha: 0.02);
			background-color: darken($color: #007792, $amount: 5);
			color: #f1f1f1;
		}
	}
	&#{$self}--playing {
		#{$self}__play_btn {
			// padding: 13px 0px;
			&:before {
				content: '\f04c';
			}
		}
	}
	#{$self}__inner {
		margin-left: 20px;
		display: flex;
		#{$self}__performer_title {
			display: flex;
			flex-wrap: nowrap;
			overflow: hidden;
			align-items: center;
			font-size: 20px;
			line-height: 1;
			#{$self}__performers {
				color: #007792;
				font-weight: 500;
			}
			#{$self}__title {
				color: #333333;
				font-weight: 300;
				&::before {
					display: inline-block;
					content: '\00a0\2013';
					padding: 0 3px;
				}
			}
		}
	}

	#{$self}__place {
		position: absolute;
		width: calc(100% -40px -50px -20px);
		left: 90px;
		bottom: 0;
		& > div {
			display: flex;
			#{$self}__progress {
				flex: 1 1 auto;
				[type='range'] {
					width: 100%;
				}
			}
			#{$self}__volume {
				margin-left: 20px;
				max-width: 150px;
			}
		}
	}
}
